.App {
 
  margin-top: 70px;
  margin-left: 38%;
  align-items: center;
  width: auto;
  padding: 15px;
  border: 2px solid;
  position: absolute;
  justify-content: center;
  background-color: cornflowerblue;
  
}


