.MyModal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 5);

}

.MyModalcontent{
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    min-width: 300px;
}

.MyModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}